<h1>General Shopping List</h1>
<%= render partial: 'counts' %>
<div class="container">
<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark bg-dark">
    <tr class="header">
      <th><strong>Ingredient</strong></th>
      <th><strong>Quantity</strong></th>
      <th><strong>Value</strong></th>
    </tr>
  </thead>
  <tbody>
    <% @recipe_ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.name %></td>
        <td><%= ingredient.quantity %></td>
        <td><%= ingredient.value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

