<h1>Editing public recipe</h1>

<%= render "form", public_recipe: @public_recipe %>

<br>

<div>
  <%= link_to "Show this public recipe", @public_recipe %> |
  <%= link_to "Back to public recipes", public_recipes_path %>
</div>
