/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.recipes {
  padding: 20px;
}

.recipe {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  gap: 40px;
}

.recipe-cont1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.recipe-cont1 h2{
  font-size: 20px;
}

.recipe-cont2 {
  width: 80%;
}

/* recipe#show */

.recipe-show {
  padding: 20px;
}

.recipe-header {
  text-align: center;
}

.header {
  color: white;
}

.Add {
  float: right;
  margin-bottom: 30px;
}

.recipeshow-btn {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* Custom styles for the switch toggle button */
.switch-toggle {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  width: 50px;
  height: 30px;
  background-color: #e6e6e6;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}

.switch-toggle::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.switch-toggle:checked::before {
  transform: translateX(20px);
}

.switch-toggle:checked {
  background-color: #28a745;
}

.card {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form .field {
  margin-bottom: 10px;
}

.login-form .actions {
  text-align: center;
}

