/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .recipes {
    padding: 20px;
 }

 .recipe {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    gap: 40px;
 }

.recipe-cont1 {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

.recipe-cont2 {
    width: 80%;
 }

 /* recipe#show */

 .recipe-show {
    padding: 20px;
 }
 .recipe-header {
    text-align: center;
 }



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .header{
    color: white;
 }

 .Add{
    float: right;
    margin-bottom: 30px;
 }
 .foam{
    position: center;
 }

 .recipeshow-btn {
    padding: 20px 0px;
 }